{% extends 'base.html' %}

{% block title %}Sign up Alak{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}. Go to <a href="{{ url_for('auth.signin') }}">login page</a>.
        </div>
    {% endif %}
    {% endwith %}
    <div class="row justify-content-center mx-auto" style="margin-top: 10%; margin-bottom: 10%;">
        <div class="col-lg-3 left-side mx-auto">
            <svg id="svg" viewBox="0 -2.5 7 7" xmlns="http://www.w3.org/2000/svg" width="500px" height="300px">
                <use href="#piece-white" x="2" y="0"/>
                <use href="#piece-black" x="0" y="2"/>
            </svg>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signin">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Your Password">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    Remember me
                </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
{% endblock %}
