{% extends 'base.html' %}

{% block title %}Alak{% endblock %}

{% block content %}
    <p class="text-center pt-5">00:00</p>
    <!--body onmousemove="coordinate(event)"> 
        X-coordinate 
        <input type="text" id="X"> 
    </body-->

    <svg id="svg" viewBox="-7 -12 84 30" xmlns="http://www.w3.org/2000/svg">
        <path stroke="#401900" stroke-width="0.1" fill="none" d="M0,0h70v5h-70z" />
        <path stroke="#401900" stroke-width="0.1" fill="none" d="M0,0v5 M5,0v5 M10,0v5 M15,0v5 M20,0v5 M25,0v5 M30,0v5 M35,0v5 M40,0v5 M45,0v5 M50,0v5 M55,0v5 M60,0v5 M65,0v5 M70,0v5"/>
        
        <use id="piece" href="#piece-black" x="2.5" y="2.5"/>
        <use id="piece" href="#piece-black" x="7.5" y="2.5"/>
        <use id="piece" href="#piece-black" x="12.5" y="2.5"/>
        <use id="piece" href="#piece-black" x="17.5" y="2.5"/>
        <use id="piece" href="#piece-black" x="22.5" y="2.5"/>

        <use id="piece" href="#piece-white" x="47.5" y="2.5"/>
        <use id="piece" href="#piece-white" x="52.5" y="2.5"/>
        <use id="piece" href="#piece-white" x="57.5" y="2.5"/>
        <use id="piece" href="#piece-white" x="62.5" y="2.5"/>
        <use id="piece" href="#piece-white" x="67.5" y="2.5"/>
    </svg>
    <div class="mx-auto text-center text-light rounded-9">
        <a class="btn btn-warning m-1 mx-auto" style="font-size: 12px; font-weight: 300; border-radius: 25px; color: white;" href="#">RESTART</a>
    </div>

    <script type="text/javascript">
        Draggable.create(".piece");
    </script>
{% endblock %}